.output {
    margin-top: 25px;
    width: auto;
    border-radius: 7.5px;
    padding: 2px;
}

a {
    text-decoration: none;
}

.output>span {
    font-size: larger;
}

.copy:hover {
    transform: scale(1.1);
    cursor: pointer;
}