input {
    width: 35%;
    height: 15px;
    border-radius: 7.5px;
    border: solid 1px rgba(80, 0, 0, 0.61);
    padding: 15px 15px 15px 10px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

.output-container {
    margin-top: 25px;
}

a {
    text-decoration: none;
}

.output-container>span {
    font-size: larger;
}

.copy:hover {
    transform: scale(1.1);
    cursor: pointer;
}