:root {
    --gray-500: #3f3f3f;
    --red-800: #5f0f0f;
    --red-500: #ff3333;
    --white-100: #fafafa;
    --black-100: #000000;
    --def-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray-500);
    font-family: var(--def-font);
}

footer {
    margin-top: 5vh;
    height: 9vh;
    background-color: var(--red-800);
    color: var(--white-100);
    text-align: center;
    padding-top: 5vh;
    font-size: larger;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    width: 100%;
}

table {
    width: 65%;
}

a {
    text-decoration: underline;
    color: var(--white-100);
}

td {
    padding-left: 45px;
}

input {
    width: 35%;
    height: 15px;
    border-radius: 7.5px;
    border: solid 1px rgba(80, 0, 0, 0.61);
    padding: 15px 15px 15px 10px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

button {
    width: 35%;
    height: 35px;
    border: none;
    border-radius: 7.5px;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
}

button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

button:active {
    transform: scale(.95);
}

/* Class Styles */
.divider {
    width: 85%;
    justify-self: center;
    height: 1px;
    background-color: var(--white-100);
    margin-top: 10px;
    margin-bottom: 10px;
}

.sub-head {
    background-color: var(--red-800);
    width: 85%;
    margin: 15px;
    border-radius: 7.5px;
}

.sub-body {
    justify-items: center;
    width: 75%;
}

.sub-head>h2 {
    text-align: center;
    padding: 10px;
}

.available-tools {
    width: 45%;
    border-radius: 7.5px;
    display: flex;
    flex-direction: column;
}

.left {
    position: absolute;
    left: 20px;
}

.left:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Alignment Properties */
.center {
    text-align: center;
}

.self-center {
    justify-self: center;
}


/* Colors */
.bg-red-800 {
    background-color: var(--red-800);
}

.bg-red-500 {
    background-color: var(--red-500);
}

.bg-white-100 {
    background-color: var(--white-100);
}

.fg-white-100 {
    color: var(--white-100);
}

.fg-black-100 {
    color: var(--black-100);
}


/* Margins */
.mt-6 {
    margin-top: 25px;
}

.mb-6 {
    margin-bottom: 25px;
}

.mt-4 {
    margin-top: 15px;
}

.mb-4 {
    margin-bottom: 15px;
}

.ml-4 {
    padding-left: 65px;
}

.pd-2 {
    padding: 10px;
}

.pt-6 {
    padding-top: 25px;
}

.pb-6 {
    padding-bottom: 25px;
}

.pb-4 {
    padding-bottom: 15px;
}

.w-50 {
    width: 58%;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.column {
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
}

.row {
    display: row;
}

.grid-col2-row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* Shadows */
.shadow {
    box-shadow: 2px 0px 10px 1px rgba(0 0 0 / 75%);
}

.subtle {
    box-shadow: 9px 10px 16px -5px rgba(0, 0, 0, 0.5);
}

/* font sizes */
.font-medium {
    font-size: large;
}

.font-large {
    font-size: larger;
}

.br-7-5 {
    border-radius: 7.5px;
}

.font-larger {
    font-size: larger;
}