@media screen and (max-width: 1604px) {
    td {
        padding-left: 32px;
    }
}

@media screen and (max-width: 1342px) {
    td {
        padding-left: 23px;
    }
}

@media screen and (max-width: 1228px) {
    td {
        border: solid 1px rgb(0 0 0 / 22%);
        border-radius: 7.5px;
        padding: 15px;
    }
}

@media screen and (max-width: 1108px) {
    td {
        padding-left: 13px;
        padding: 15px;
    }
}

@media screen and (max-width: 1022px) {
    .sub-body {
        width: 95%;
    }
}

@media screen and (max-width: 818px) {
    td {
        padding-left: 0;
        padding: 15px;
    }

    .available-tools {
        min-width: 228px;
    }
}