:root {
    --gray-500: #3f3f3f;
    --red-800: #5f0f0f;
    --red-500: #ff3333;
    --white-100: #fafafa;
    --black-100: #000000;
    --def-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --def-shadow: ;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--gray-500);
    font-family: var(--def-font);
}

main {
    display: flex;
    justify-content: center;
}

table {
    background-color: var(--gray-500);
    border-radius: 7px;
}

th,
td {
    padding: 2px 10px 0 10px;
}

footer {
    margin-top: 5vh;
    height: 9vh;
    background-color: var(--red-800);
    color: var(--white-100);
    text-align: center;
    padding-top: 5vh;
    font-size: larger;
    font-weight: 500;
}

.divider {
    width: 85%;
    justify-self: center;
    height: 1px;
    background-color: var(--white-100);
    margin-top: 10px;
    margin-bottom: 10px;
}

.body-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1fr, 4);
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    width: 875px;
}

.body-entry {
    border-radius: 7px;
    text-align: center;
    font-size: large;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-arrow {
    cursor: pointer;
}

.stacked {
    display: flex;
    flex-direction: column;
}

.square {
    width: 25px;
    height: 25px;
}

.color-display {
    align-self: center;
    width: 20%;
}

/* Alignment Properties */
.center {
    text-align: center;
}

.self-center {
    justify-self: center;
}


/* Colors */
.bg-red-800 {
    background-color: var(--red-800);
}

.bg-red-500 {
    background-color: var(--red-500);
}

.bg-white-100 {
    background-color: var(--white-100);
}

.fg-white-100 {
    color: var(--white-100);
}

.fg-black-100 {
    color: var(--black-100);
}


/* Margins */
.mt-6 {
    margin-top: 25px;
}

.mb-6 {
    margin-bottom: 25px;
}

.mt-4 {
    margin-top: 15px;
}

.mb-4 {
    margin-bottom: 15px;
}

.pt-6 {
    padding-top: 25px;
}

.pb-6 {
    padding-bottom: 25px;
}

.pb-4 {
    padding-bottom: 15px;
}


/* Shadows */
.shadow {
    box-shadow: 2px 0px 10px 1px rgba(0 0 0 / 75%);
}

/* font sizes */
.font-medium {
    font-size: large;
}

.font-large {
    font-size: larger;
}