/* Default Styles */
:root {
    --def-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --bg-color-1: rgb(109, 0, 0);
    --bg-color-2: rgba(43, 0, 0, 0.877);
    --bg-color-3: #302e2e;
    --bg-color-4: #494646;
    --def-font-clr: #f1f1f1;
    --def-pad: 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--def-font)
}

/* Element Styles */
body {
    height: auto;
    color: var(--def-font-clr);
}

header {
    height: fit-content;
    background-color: var(--bg-color-1);
    height: 6rem;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

nav {
    background-color: var(--bg-color-2);
    margin-top: 1.68rem;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    font-size: larger;
    font-weight: 500;
    color: var(--def-font-clr);
    text-decoration: none;
    padding-bottom: 5px;
}

nav a:hover {
    transform: scale(1.1);
}

header span {
    font-size: x-large;
    font-weight: 500;
}

section {
    color: var(--bg-color-3);
}

section h2 {
    background-color: var(--bg-color-1);
    color: var(--def-font-clr);
}

main {
    max-width: 60vw;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 35px;
    margin-top: 20px;
}

footer {
    margin-top: 5vh;
    height: 9vh;
    background-color: var(--bg-color-1);
    text-align: center;
    padding-top: 5vh;
    font-size: larger;
    font-weight: 500;
}

/* Card styles */
.resources .card {
    height: 10vh;
}

.card {
    border: 1px solid var(--bg-color-4);
    border-radius: 10px;
}

.card h2 {
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.card h3 {
    border-bottom: 1px solid var(--bg-color-4);
    width: 75%;
    justify-self: center;
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: 1fr .5fr;
    padding: 12px;
}

.portrait {
    grid-column: 2 / 3;
    width: 200px;
    margin-left: 1vw;
}

.left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.flag {
    float: left;
    padding: 10px 10px 10px 0;
}

.state-content {
    margin: 5px;
}

.lastModified {
    font-size: medium;
}