@media screen and (min-width: 500px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (min-width: 650px) {
    img {
        max-width: 200px;
    }
}

@media (min-width: 43.75em) {
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}