:root {
    --gray-500: #3f3f3f;
    --red-800: #5f0f0f;
    --red-500: #ff3333;
    --white-100: #fafafa;
    --black-100: #000000;
    --def-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3f3f3f;
    font-family: var(--def-font);
}

textarea {
    resize: vertical;
    height: 12rem;
    border-radius: 7.5px;
    border: 1px outset black;
}

.text-center {
    justify-items: center;
}

td {
    padding: 5px;
}

tr>td:nth-child(2) {
    text-align: left;
}

footer {
    margin-top: 5vh;
    height: 9vh;
    background-color: var(--red-800);
    color: var(--white-100);
    text-align: center;
    padding-top: 5vh;
    font-size: larger;
    font-weight: 500;
    bottom: 0;
    width: 100%;
}

.flex-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.useful {
    width: 35%;
}

button,
textarea,
select {
    width: 85%;
    align-self: center;
}

.slim {
    width: 50%;
}

.useful>input[type=checkbox] {
    width: min-content;
    justify-self: left;
}

form {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.input-style {
    height: 45px;
    padding-left: 5px;
    border-radius: 7.5px;
    border: 1px outset black;
}

.center {
    align-self: center;
}

.center-header {
    text-align: center;
}

.form {
    width: 30%;
    background-color: var(--red-500);
    border-radius: 7.5px;
    padding: 15px;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.bg-red-800 {
    background-color: var(--red-800);
}

.fg-white-100 {
    color: var(--white-100);
}

.stars>label {
    color: gold;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0);
    /* remove blinking cursor*/
}

.stars>label:hover {
    color: #000;
}

.stars>label::before {
    content: "\2606";
}

.stars input:checked~label::before {
    content: "\2605";
}

input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.blue {
    color: rgb(25 25 235);
}

.pt-6 {
    padding-top: 25px;
}

.mt-6 {
    margin-top: 25px;
}

.pb-6 {
    padding-bottom: 25px;
}

.shadow {
    box-shadow: 2px 0px 10px 1px rgba(0 0 0 / 75%);
}

.bg-red-500 {
    background-color: var(--red-500);
}

.radius {
    border-radius: 7.5px;
}

.pd-2 {
    padding: 10px;
}

.mb-4 {
    margin-bottom: 25px;
}

.bold {
    font-weight: bold;
    padding-bottom: 10px;
}

input[type=submit] {
    width: 35%;
    height: 35px;
    border-radius: 7.5px;
    border: 1px outset black;
}

input[type=submit]:hover {
    transform: scale(1.05);
    cursor: pointer;
}

@media screen and (max-width: 550px) {
    input[type=submit] {
        width: 75%;
        height: 35px;
        border-radius: 7.5px;
        border: 1px outset black;
    }

    .slim {
        width: 75%;
    }
}