/* Default Styles */
:root {
    --def-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --bg-color-1: rgb(109, 0, 0);
    --bg-color-2: rgba(43, 0, 0, 0.877);
    --bg-color-3: #302e2e;
    --bg-color-4: #494646;
    --def-font-clr: #f1f1f1;
    --contrast-font-clr: #262424;
    --def-pad: 10px;
    --shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 500px) {
    .container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (min-width: 650px) {
    img {
        max-width: 200px;
    }
}

@media (min-width: 43.75em) {
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
}